.dropdownContainer {
    padding: 1em;
}

.dropdownContainer ul {
    background-color: var(--color-10th);
    color: var(--color-11th);
    border-radius: 0.5em;
    border: solid var(--color-10th);
    border-width: 0.5em;
}

.dropdownContainer li:hover {
    background-color: var(--color-12th);
    color: white;
}

.dropdownContainer button {
    color: currentColor;
    width: 100%;
    text-align: start;
}