.secondPanelContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-3rd);
    width: 240px;
    min-width: 240px;
    max-width: 240px;
}

.secondPanelBody {
    flex-grow: 1;
    overflow-y: auto;
}