@import "../../utils/Styles/variables.scss";

.app-container {
  width: 100%;
  height: 100%;
  padding: 4rem 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .app-content {
    width: 40rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 0.01rem solid $appBorder;
    overflow: hidden;
    .user-Wrapper {
      width: 100%;
      background-color: $userBackgroundColor;
    }
    .channels {
      width: 100%;
      height: 100%;
      display: flex;
      .servers {
        height: 100%;
        width: 7rem;
        background-color: $serversBackgroundColor;
      }
      .user-content {
        height: 100%;
        width: 100%;
        background-color: $userContentBackgroundColor;
        padding: 2.5rem;
        overflow: hidden;
      }
    }
  }
  .chat-container {
    height: 100%;
    width: 70%;
    background-color: $chatBackgroundColor;
    .app-logo-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 20rem;
        height: 20rem;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .app-container {
    padding: 0rem;
    .app-content.active {
      display: none;
    }
    .app-content {
      flex-direction: column-reverse;
      width: 100%;
      .channels {
        flex-direction: column;
        .servers {
          height: 6.5rem;
          width: 100%;
        }
      }
    }
  }
  .chat-container:not(.active) {
    display: none;
  }
}
