* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0.5em 1em 0;
}

.button {
    cursor: pointer;
}

.app-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.messages-container {
    flex-grow: 1;
}