* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
}

.app-container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0.5rem
}

.messages-container {
  flex-grow: 1;
}

.overlay {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.overlay .container {
  width: 50rem;
  height: 20rem;
  background-color: bisque;
  border-radius: 2rem;
}
