@import "../../../../utils/Styles/variables.scss";

.servers-container::-webkit-scrollbar {
  display: none;
}

.servers-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
  overflow-y: auto;

  .server-image-wrapper {
    img {
      width: 4rem;
      height: 4rem;
    }
  }

  //   gap: 3rem;
  //   overflow-y: scroll;
  //   .server-image-wrapper {
  //     width: 100%;
  //     img {
  //       width: 4rem;
  //       height: 4renm;
  //     }
  //   }
}

@media only screen and (max-width: 600px) {
  .servers-container {
    flex-direction: row;
    overflow-y: none;
    overflow-x: auto;
    padding: 0 2rem;
  }
}
