[mysql]
# CLIENT #
port                            = 3306
socket                          = /tmp/mysql.sock
default-character-set           = utf8mb4

[mysqld]
# default sql mode 5.7
# sql-mode="ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
character-set-server            = utf8mb4
collation-server                = utf8mb4_unicode_ci
default-authentication-plugin   = mysql_native_password

# compatibility mode with 5.6
sql-mode                        = ""

# skip-grant-tables
skip_name_resolve

tmpdir                          = /tmp
bind_address                    = 0.0.0.0

# GENERAL #
# user                          = mysql
default_storage_engine          = InnoDB
pid-file	                    = /var/run/mysqld/mysqld.pid
socket		                    = /tmp/mysql.sock
general_log_file                = /home/logs/general.log
general_log                     = 0

# SAFETY #
max_allowed_packet              = 16M
max_connect_errors              = 1000000

# DATA STORAGE #
datadir                         = /var/lib/mysql

# CACHES AND LIMITS #
tmp_table_size                  = 32M
max_heap_table_size             = 32M
max_connections                 = 500
thread_cache_size               = 50
open_files_limit                = 65535
table_definition_cache          = 4096
table_open_cache                = 4096

# INNODB #
# innodb_flush_method           = O_DIRECT
innodb_log_files_in_group       = 2
innodb_log_file_size            = 256M
innodb_flush_log_at_trx_commit  = 2
innodb_file_per_table           = 1
innodb_buffer_pool_size         = 8G
# innodb_stats_on_metadata      = 1
innodb_read_io_threads          = 48
innodb_write_io_threads         = 48
sync_binlog                     = 0

# LOGGING #
# log_error                     = /home/logs/mysql-error.log
log_queries_not_using_indexes   = 0
slow_query_log                  = 0
# slow-query-log-file           = /home/logs/mysql-slow.log
