#particle-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

.particle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

@for $i from 1 through 7 {
  @keyframes particle-animation-#{$i} {
    100% {
      transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    }
  }

  .particle:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 18s infinite;
    animation-direction: alternate;
    $size: random(250) + 5 + px;
    opacity: random(100) / 100;
    height: $size;
    width: $size;
    animation-delay: -$i * 0.2s;
    transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    background: #7b27dbb9;
  }
}
