.li {
    margin: 1em 0 1em 1em;
    width: calc(100% - 1em);
}

.li:hover {
    background-color: var(--color-14th);
}

.div {
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    padding: 1em 1em 1em 1em;
}

.span {
    color: var(--color-8th);
}

.div2 {
    flex-grow: 1;
    text-align: start;
    display: flex;
    flex-direction: column;
}

.button {
    background-color: var(--color-3rd);
    border: var(--color-3rd) solid;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0.5em;
}

.buttonAccept:hover > svg {
    color: var(--color-18th);
}

.buttonReject:hover > svg {
    color: var(--color-19th);
}