.ul {
    color: white;
    margin-left: 36px;
}

.button {
    display: flex;
    align-items: center;
    color: var(--color-9th);
}

.button:hover {
    color: var(--color-7th);
    background-color: var(--color-15th);
}