.button {
    margin: 0 4px;
}

.footer {
    color: white;
    background-color: var(--color-13th);
    height: 52px;
    min-height: 52px;
    display: flex;
    align-items: center;
}

.span {
    color: white;
    flex-grow: 1;
}