@import "../../utils/Styles/variables.scss";

@keyframes showError {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.loginContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  z-index: 9;
  @media (min-width: 486px) {
    justify-content: center;
  }
  .card {
    width: 52.6rem;
    height: 47.3rem;
    border-radius: 1rem;
    position: fixed;
    padding: 0rem 9rem;
    margin-top: 5rem;
    @media (min-width: 486px) {
      width: 80rem;
      height: 48rem;
      position: relative;
      padding: 0rem;
      margin-top: 0;
    }
    @media (min-width: 486px) and (max-width: 600px) {
      width: 45rem;
    }
    form {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      @media (min-width: 600px) {
        width: 80rem;
        height: 48rem;
        flex-direction: row;
      }
      .logoContainer {
        width: 100%;
        height: 35%;
        background: rgba(59, 84, 126, 0.168);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.1px);
        -webkit-backdrop-filter: blur(6.1px);
        border-top-left-radius: 1rem;
        border-top-right-radius: 0rem;
        border-bottom-left-radius: 1rem;
        display: unset;
        @media (min-width: 486px) and (max-width: 600px) {
          display: none;
        }
        @media (min-width: 480px) {
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }
        @media (min-width: 600px) {
          width: 40%;
          height: 100%;
          border-top-right-radius: 0rem;
        }
        .logoWrapper {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 15rem;
            height: 15rem;
          }
        }
      }
      .credentialsContainer {
        width: 100%;
        height: 100%;
        padding: 2rem;
        background-color: $loginCardBackground;
        border-radius: 1rem;
        @media (min-width: 600px) {
          width: 60%;
          height: 100%;
          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;
          border-bottom-left-radius: 0rem;
          border-top-left-radius: 0rem;
        }

        .titleWrapper {
          width: 100%;
          text-align: center;
          margin-top: 0.8rem;
          p {
            color: $whiteColor;
            font-size: 2.5rem;
            font-weight: $semi-bold;
          }
        }
        .introAuthenticationWrapper {
          height: 90%;
          display: flex;
          align-items: center;
          justify-content: center;
          .buttonWrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1.2rem;
            padding: 1rem 0rem;
          }
        }
        .authenticationWrapper {
          padding: 0rem 2.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 60%;
          @media (min-width: 486px) {
            width: 100%;
            height: 90%;
          }
          .inputsWrapper {
            padding-top: 3rem;
            width: 100%;
            height: 100%;
            .forgotPasswordWrapepr {
              width: 100%;
              padding-top: 0.5rem;
              span {
                color: $forgotTextColor;
                cursor: pointer;
              }
            }
            .errorContainer {
              width: 100%;
              height: 4.5rem;
              overflow: hidden;
              margin-top: 0.5rem;
              // background-color: red;
              .errorMessageWrapper {
                position: relative;
                background: #af2824;
                text-align: right;
                padding: 0.5rem 1rem;
                border-radius: 6px;
                border: 1px solid #af2824;
                float: right;
                right: 20px;
                margin-top: 0.8rem;
                animation: showError 0.25s linear forwards;
                &::before {
                  content: "";
                  position: absolute;
                  visibility: visible;
                  top: -0.1rem;
                  right: -1rem;
                  border: 0.9rem solid transparent;
                  border-top: 0.4rem solid #af2824;
                }

                &::after {
                  content: "";
                  position: absolute;
                  visibility: visible;
                  top: 0rem;
                  right: -0.8rem;
                  border: 1rem solid transparent;
                  border-top: 1rem solid #af2824;
                  clear: both;
                }
                span {
                  font-size: 1.4rem;
                  color: $whiteColor;
                }
              }
            }
          }
          .buttonWrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1.2rem;
            padding: 1rem 0rem;
          }
        }
      }
    }
  }
}
