.div {
    background-color: var(--color-3rd);
    margin: 0 1em 1em 1em;
    border: solid var(--color-3rd);
    border-radius: 0.5em;
    max-height: 22.375em;
    overflow-y: auto;
}

.ul {
    margin: 1em;
}

.li {
    cursor: pointer;
    margin: 1em 0;
}

.liSelected {
    background-color: var(--color-2nd);
}