.button {
    color: var(--color-9th);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
    border: 0;
    border-radius: 4px;
}

.button:hover {
    color: var(--color-6th);
    background-color: var(--color-14th);
}