.ol {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-1st);
    width: 72px;
    min-width: 72px;
    max-width: 72px;
    overflow-y: auto;
}