* {
    box-sizing: border-box;
}

:root {
    --color-primary: #202225;
    --color-secondary: #36393f;
    --color-third: #2f3136;
    --color-forth: rgba(79, 84, 92, 0.32);
    --color-fifth: #40444b;
    --color-sixth: #fff;
    --color-seventh: #dcddde;
    --color-8th: #b9bbb3;
    --color-9th: #8e9297;
    --color-10th: #18191c;
    --color-11th: #b9bbbe;
    --color-12th: hsl(235, 46.7%, 44.1%);
    --small-shadow-bar: 0 1px 0 rgba(4, 4, 5, 0.2), 0 2px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
    --members-panel-width: 15em;
}

#root {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list__servers-panel {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-primary);
    width: 4.5em;
    overflow-y: auto;
    flex-shrink: 0;
}

.list__channels-panel {

}

.list__messages {
    word-break: break-all;
}

.message-container {
    display: flex;
}

.channels-panel {
    flex-shrink: 0;
}

.svg__arrow-x {
    color: white;
    transition: transform .2s ease-out, stroke-dasharray .2s ease-out, -webkit-transform .2s ease-out;
    opacity: 0.8;
}

.svg__arrow-x--active {
    transform: translate3d(0, -3px, 0) rotate(-90deg);
}

.svg__arrow {
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.svg__arrow--active {
    transform: rotate(-90deg);
}

.svg__server-options-name {
    flex-grow: 1;
}

.svg__text-channel {
    color: white
}

.span {
    color: white;
}

.span__header-channel-name {
    flex-grow: 1;
}

.span__input-message {
    background: none;
    border: none;
    flex-grow: 1;
    word-wrap: anywhere;
    max-height: inherit;
    overflow-y: auto;
    align-self: center;
}

.span__input-message:focus {
    outline: none;
}

.span__username {
    font-weight: 1000;
    flex-shrink: 0;
}

.span__message {
    margin: 0 1em;
}

.btn {
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: white;
}

.btn--off {
    color: var(--color-8th);
}

.btn--active {
    color: var(--color-sixth);
}

.btn--gray {
    color: var(--color-9th)
}

.btn--hover:hover {
    color: var(--color-seventh);
}

.btn__icon {
    padding: 0.3em;
    margin: 0.3em;
}

.btn__server {
    background-color: var(--color-secondary);
    border: thin solid var(--color-secondary);
    color: white;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}

.btn__server-options {
    background: none;
    color: white;
    font-size: 1.5em;
    text-align: left;
    width: 100%;

    border-style: none;
    box-shadow: var(--small-shadow-bar);
    display: flex;
    align-items: center;
    height: 2em;
}

.btn__server-options--active {

}

.btn__channel {
    display: flex;
}

.btn__group {
    display: flex;
}

.div__emoji {
    background-image: url("assets/emojis.png");
    background-position: 0 0;
    background-size: 242px 110px;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    transform: scale(1);
    filter: grayscale(100%);
}

.div__emoji--hover:hover {
    transform: scale(1.14);
    filter: grayscale(0%);
}

.div__dropdown {
    padding: 1em;
}

.list__dropdown {
    background-color: var(--color-10th);
    color: var(--color-11th);
    border-radius: 0.5em;
    border: solid var(--color-10th);
    border-width: 0.5em;
}

.li__dropdown:hover {
    background-color: var(--color-12th);
    color: white;
}

.btn__dropdown-item {
    color: currentColor;
    width: 100%;
    text-align: start;
}

.btn__overlay-select {
    font-size: 1.2rem;
    border-style: solid;
    border-width: 0.1em;
}

.channels-panel-header {
    margin: 0.2em 0 0.2em 0.5em;
    border-style: none none solid none;
}

.li {

}

.li__server {
    display: flex;
    margin: 0.5em 0;
}

.channels-panel {
    background-color: var(--color-third);
    width: 15em;
}

.content {
    flex-grow: 1;
    background-color: var(--color-secondary);
    color: white;
    display: flex;
    flex-direction: column;
}

.content__header {
    display: flex;
    align-items: center;
    height: 3em;
    box-shadow: var(--small-shadow-bar);
}

.content__header__main {
    flex-grow: 1;
    display: flex;
}

.content__header__members {
    width: var(--members-panel-width);
}

.content__body {
    display: flex;
    flex-grow: 1;
    max-height: calc(100% - 3em);
}

.content__body__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.content__body__messages {
    flex-grow: 1;
    overflow-x: hidden;
}

.content__body__members {
    width: var(--members-panel-width);
    background-color: var(--color-third);
    height: 100%;
    flex-shrink: 0;
}

.footer__content {
    background-color: var(--color-fifth);
    border-radius: 0.5em;
    max-height: 12.5em;
    margin: 0 1em 1.5em 1em;
    display: flex;
    align-items: flex-start;

}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay__container {
    width: 30em;
    height: 15em;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: space-between;
    gap: 2.5em;
}

.overlay__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

.h1 {
    text-align: center;
    color: white;
    margin: 0;
}

.time {
    margin: 0 1em;
    flex-shrink: 0;
}

