.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 1fr;
}

.container > div {
    padding-top: 60px;
}

.firstPanel {
    background-color: var(--color-3rd);
    min-width: 224px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: scroll;
    scrollbar-color: currentColor transparent;
}

.ul {
    width: 218px;
    padding: 0 6px 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ul * {
    width: 100%;
}

.ul h5 {
    color: var(--color-9th);
    font-size: 12px;
    font-weight: 700;
    font-family: var(--font-2nd);
    line-height: 16px;
    margin: 0;
    padding: 0 10px 6px;
    cursor: default;
}

.ul button {
    color: var(--color-11th);
    border: 0;
    border-radius: 4px;
    text-align: start;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    font-family: var(--font-1st);
    padding: 6px 10px;
    margin-bottom: 2px;
}

.ul button:hover {
    background-color: var(--color-14th);
}

.buttonSelected {
    background-color: var(--color-15th);
    color: var(--color-6th) !important;
    cursor: default;
}

.separator {
    margin: 8px 10px;
    height: 1px;
    background-color: var(--color-32th);
    width: calc(100% - 20px) !important;
}

.secondPanel {
    background-color: var(--color-2nd);
    display: flex;
    flex-direction: row;
}

.body {
    max-width: 740px;
    min-width: 484px;
    flex-grow: 1;
    padding: 0 40px 80px;
}

.closeContainer {
    color: var(--color-28th);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-1st);
    font-size: 13px;
    font-weight: 600;
}

.closeContainer div:first-child {
    border: 2px;
    border-style: solid;
    border-radius: 50%;
    border-color: var(--color-28th);
    color: var(--color-33th);
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}