.video {
    max-width: 20rem;
    max-height: 30rem;
}

.divMessageContainer {
    display: flex;
    flex-direction: column;
}

.divContainer {
    position: relative;
    margin-top: 30px;
}

.divActions {
    position: absolute;
    right: 1em;
    background: blue;
}

.div {
    display: flex;
}

.time {
    margin: 0 1em;
    flex-shrink: 0;
    font-family: var(--font-1st);
    font-size: 11px;
    font-weight: 500;
    color: var(--color-28th);
}

.spanUsername {
    font-weight: 500;
    flex-shrink: 0;
    font-size: 16px;
    font-family: var(--font-1st);
}

.spanMessage {
    margin: 0 1em;
    color: var(--color-7th);
    font-family: var(--font-1st);
    font-weight: 400;
}

.img {
    max-height: 13.188rem;
    max-width: 40rem;
}

.modifierContainer {
    position: absolute;
    top: -30px;
    right: 0;
    background-color: var(--color-2nd);
    box-shadow: 0 0 0 1px rgba(4, 4, 5, 0.15);
    border-radius: 4px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
}

.modifierContainer:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16);
}

.modifierContainer * {
    padding: 1px;
}

.modifierContainer *:hover {
    background-color: var(--color-14th);
}
